*{
	margin: 0px;
	padding:0px;	
	font-family:Arial,Verdana;
	/*font-size:12px;*/
	color:#6b6b6b;
	line-height:1.5em;	
}

a{
	font-family:Arial,Verdana;
	text-decoration: none;
}

.clear{
	clear:both;
	height:1px;	
}

.left{
	float: left;
}

.right{
	float:right;
}

.center{
	margin: 0px auto 0px auto;
}

.rounded{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    border-radius:5px;
}

.hidden{
	display: none;
}


.borderLeft{
	border-left: 1px dashed #c9c9c9;
}

.success{
	width:96%;  
	height:40px;
	background: #57c40e;
	line-height: 40px;
	padding-right: 20px;
	margin: 15px 0 15px 0;	
	color: #fff;
	text-shadow: 0 1px 0 #000;		
}

.error{
	width:100%;  
	height:40px;
	background: #ff7f7a;
	line-height: 40px;
	padding-left: 20px;
	margin: 15px 0 15px 0;
	color: #fff;
	text-shadow: 0 1px 0 #000;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-box-sizing: border-box;			
}

#wraper{
	width:100%;
	min-height:750px;
	height:100%;
	background: #f4f4f4; 
	/*
	padding-top: 25px;
	padding-bottom: 30px;
	*/
}

#main{
	width:929px;
	height:100%;
	min-height:750px;
	background: #fff;
	margin:0px auto 0px auto;
    /*padding: 20px;*/
    box-shadow: 1px 1px 12px #c2c2c2;	
}

#main_wraper{
	width:100%;	
	height:100%;    
    /*border:1px solid #bcbcbc;*/   
}

#login_wraper{
	width: 300px;
	margin: 0px auto 0px auto;
	padding-top:200px;	
}


#top{	
	width:100%;
	height:25px;
	background: #999;
	position: relative;
}

#logo{	
	position:absolute;
	top:0px;
	left:0px;	
	width:154px;
	height:25px;	
}



#top .control{
	float:right;
	padding: 0px 7px 0px 7px;
	margin-left:1px;		
	height:25px;
	background: #303030;
	font-size: 15px;
	color:#00aeff;
	
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-box-sizing: border-box;
}

#top .control .icon{
	margin:0px;
	color:#fff;
	opacity: 1;
	
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

#top .control:hover .icon{
	color:#00aeff;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}


#top .control:hover{
	background: #000;
}

#main_menu{
	width: 100%;
	height:100%;
}

#main_menu .menu_item{
	width:154px;
	height:75px;
	background: #ebebeb;
	float: left;
	text-align: center;
	color:#595959;
	cursor:pointer;	
	border-right:1px dashed #b5b5b5;	
	text-shadow: 0 1px 0 #fff;
}

#main_menu .topBorder{
	border-top:1px dashed #b5b5b5;
}

#main_menu .lastInRow{
	border-right:0px;
}

#main_menu .menu_item .icon{
	opacity: 1;
	color: #595959;
	display: block;
	margin: 15px auto 5px auto;
	font-size: 1.7em;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;	
}


#main_menu .menu_item:hover .icon {
	color: #fff;
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-o-transform: scale(1.5);
	-ms-transform: scale(1.5);
	transform: scale(1.5);
}

#main_menu .menu_item:hover, #main_menu .selected{
	color: #fff;
	background: #00aeff;
	text-shadow: 0 1px 0 #666;	
}

#main_menu .selected .icon{
	color: #fff;
}

.blueLine{
	width: 100%;
	height: 5px;
	background: #00aeff;
	clear:both;	
}

#getSideBar{
	-webkit-transition: all 0.27s ease-out;
	-moz-transition: all 0.27s ease-out;
	-o-transition: all 0.27s ease-out;
	-ms-transition: all 0.27s ease-out;
	transition: all 0.27s ease-out;
	
	position: absolute;
	top:20px;
	left:-3px;
}

#getSideBar .button{
	padding-right:0px;	
}	

#getSideBar .icon{
	color:#fff;	
}

.move{
	margin-left:275px;
}

/*
#login_wraper .field{
	margin-top: 15px;
}
*/

/*
#content{
	position: relative;	
}
*/

#desktop{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-box-sizing: border-box;
	
	padding: 20px;	
}

.sideBarWraper .sidebar{
	position: absolute;
}

.shadow {
  -webkit-box-shadow: 0em 0.2em 0em inset;
  -moz-box-shadow: 0em 0.2em 0em inset;
  box-shadow: 0em 0.2em 0em inset;
}

.tabMenu .active .icon, .tabSegments a.active .icon{
	color:#00aeff;
}

#statSidebar .label{
	margin-top: -0.3em;
	font-size: 0.7em;
}

#statWraper{
	position:relative;
	min-height:700px;
	overflow: hidden;
	top: 0px;
	left: 0px;		
}

#statWraper h3{
	margin-left: 35px;
}

#statSidebar{
	left: 0px;
	position: absolute;
	background: #f9f9f9; 
	opacity: .95;
}


#statSidebar .item{
	/*color:#fff;*/
	/*font-size:14px;*/
	font-family: Arial;
}

#faqWraper .table_rbut{
    float: right;
    font-size: 12px;
    text-transform: none;
}

#faqWraper .ui.tab.active{
    margin-top: 0px;
}

.center{
    text-align: center;
}

#faqWraper .center i{
    margin-right: 0px;
}

#faqWraper .center i.edit{
    margin-right: -5px;
}

#faq{
    width: 435px;
}

#faq label{
    width: 100px;
    float: left;
    line-height: 25px;
}

#faq #faqcategory_form label{ width: auto;}

#faq select{
    width: 200px;
/*    margin-bottom: 10px;
    margin-top: 4px;*/
}

#faq textarea{
    width: 300px;
    height: 100px;
    /*margin-bottom: 4px;*/
}

.breadcrumb a{
    color: #00aeff !important;
}

#faqWraper .ui.table.category{
    width: 420px;
}

.textarea{
    position: relative;   
}

.textarea > .ui.corner.label {
top: 1px;
right: 4px;
}