{% extends "D4DAppBundle::backend.layout.twig.html" %}

{% block users_statistics %}
    <h2 class="ui header floated left">
      <i class="flag icon"></i>
      Banners
    </h2>
    <div class="clear"></div>
    <div class="tabSegments list" id="bannersWraper">
	<div class="ui active tab segment" >
            <h3 class="ui header floated left">
                    <i class="book icon circular small"></i>
                    Manage Banners
            </h3>
            <a class="right" href="/admin/banners/add"><div class="ui labeled icon button blue mini">
                <i class="add inverted sign icon"></i>
                Add Banner
            </div></a>       
            <table class="ui small table">
                <thead>
                    <tr>				  
                        <th width="100">Name</th>				    
                        <th>Location</th>
                        <th>Views</th>
                        <th>Clicks</th>
                        <th></th>
                        <th>Image</th>
                        <th width="35"></th>
                        <th width="35"></th>
                    </tr>
                </thead>						  
                <tbody>
                  {% for banner in pagination %}
                    <tr>
                      <td>{{ banner.bannername }}</td>
                      <td>{{ banner.location }}</td>
                      <td>{{ banner.bannershowcount }}</td>
                      <td>{{ banner.bannerclickcount }}</td>
                      <td><i class="large {{ banner.activeClass }} icon"></i></td>                      
                      <td>    
                      {% if banner.bannerfileext!='swf' %}
                        <a href="{{ banner.bannerlink }}" target="_blank">
                          <img src="{{ banner.image }}" width="{{ banner.bannerwidth }}" height="{{ banner.bannerheight }}"/>
                        </a>
                      {% else %} 
                        <object onmousedown="window.open('{{ banner.bannerlink }}','_blank');" data="{{ banner.image }}" width="{{ banner.bannerwidth }}" height="{{ banner.bannerheight }}"></object>
                      {% endif %}
                      </td>
                      <td class="center">
                          <a title="Edit" href="/admin/banners/edit/{{ banner.bannerid }}/{{ page }}">
                              <div><i class="edit blue large icon link"></i></div>
                          </a>
                      </td>
                      <td class="center">
                          <a title="Delete" onclick="if (!confirm('Are you sure?')) return false;" href="/admin/banners/delete/{{ banner.bannerid }}/{{ page }}">
                              <div><i class="trash blue large icon link"></i></div>
                          </a>
                      </td>
                    </tr>                    
                  {% endfor %}			    
                </tbody>
                <tfoot>
                    <tr>
                        <th colspan="8">
                        <div class="left">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                        <a class="right" href="/admin/banners/add">
                            <div class="ui labeled icon button blue mini">
                                <i class="add inverted sign icon"></i>
                                Add Banner
                            </div>
                        </a> 
                        </th>
                    </tr>
                </tfoot>		    		  
            </table>			
	</div>	       
    </div>
{% endblock%}