{% extends "D4DAppBundle::frontend.layout.twig.html" %}



{% block content %}



	<div id="content-body">
        <div class="mwarp">
            <div class="wide">
                <div class="bg topblock">
                    <div class="top">&nbsp;</div>
                    <div class="middle">
                        <div class="warpper">
                            <div class="col1 mat">
                                <h2 class="iMatches">Matches</h2>
                                <div class="match_line">
                                        <div class="portrait">
                                        <div class="por_name">
                                        <a href="#">
                                        <span>Sendi</span>
                                        <span style="font-size:11px;">25, from Tel Aviv</span>
                                        </a>
                                        </div>
                                    <img src="/assets/frontend/images/pics/thumb_1.jpg" height="144" width="112" />
                                    </div>
                                        <div class="portrait">
                                        <div class="por_name">
                                        <a href="#">
                                        <span>Sendi</span>
                                        <span style="font-size:11px;">25, from Tel Aviv</span>
                                        </a>
                                        </div>
                                    <img src="/assets/frontend/images/pics/thumb_1.jpg" height="144" width="112" />
                                    </div>
                                        <div class="portrait">
                                        <div class="por_name">
                                        <a href="#">
                                        <span>Sendi</span>
                                        <span style="font-size:11px;">25, from Tel Aviv</span>
                                        </a>
                                        </div>
                                    <img src="/assets/frontend/images/pics/thumb_1.jpg" height="144" width="112" />
                                    </div>
                                        <div class="portrait">
                                        <div class="por_name">
                                        <a href="#">
                                        <span>Sendi</span>
                                        <span style="font-size:11px;">25, from Tel Aviv</span>
                                        </a>
                                        </div>
                                    <img src="/assets/frontend/images/pics/thumb_1.jpg" height="144" width="112" />
                                    </div>
                                        <div class="portrait">
                                        <div class="por_name">
                                        <a href="#">
                                        <span>Sendi</span>
                                        <span style="font-size:11px;">25, from Tel Aviv</span>
                                        </a>
                                        </div>
                                    <img src="/assets/frontend/images/pics/thumb_1.jpg" height="144" width="112" />
                                    </div>
                                        <div class="portrait">
                                        <div class="por_name">
                                        <a href="#">
                                        <span>Sendi</span>
                                        <span style="font-size:11px;">25, from Tel Aviv</span>
                                        </a>
                                        </div>
                                    <img src="/assets/frontend/images/pics/thumb_1.jpg" height="144" width="112" />
                                    </div>
                                        <div class="portrait">
                                        <div class="por_name">
                                        <a href="#">
                                        <span>Sendi</span>
                                        <span style="font-size:11px;">25, from Tel Aviv</span>
                                        </a>
                                        </div>
                                    <img src="/assets/frontend/images/pics/thumb_1.jpg" height="144" width="112" />
                                    </div>
                                        <div class="portrait">
                                        <div class="por_name">
                                        <a href="#">
                                        <span>Sendi</span>
                                        <span style="font-size:11px;">25, from Tel Aviv</span>
                                        </a>
                                        </div>
                                    <img src="/assets/frontend/images/pics/thumb_1.jpg" height="144" width="112" />
                                    </div>
                               <div style="clear:both;"></div>     
                               </div>
                            </div>
                            <div class="col2 cme">
                                <h2 class="iContacted">Contacted Me</h2>
                                <div class="action_list">
                                    <a href="#" class="icon5">Contacted me </a>
                                    <a href="#" class="icon2">Viewed My Card</a>
                                    <a href="#" class="icon3">Add to Favorites</a>
                                    <a href="#" class="icon4">Message</a>
                                    <a href="#" class="icon1"> People I contacted</a>
                                    <a href="#" class="icon6"> Black Listed</a>
                                <!--end action_list--></div>
                            </div>
                            <div class="clear"></div>
                            <div class="col1 pro">
                                <h2 class="iProfile">My Profile</h2>
                                <div class="profile_line">
                                        <div class="portrait">
                                        <div class="por_name">
                                        <span>Sendi</span>
                                        <span style="font-size:11px;">25, from Tel Aviv</span>
                                        </div>
                                    <img src="/assets/frontend/images/pics/thumb_1.jpg" height="144" width="112" />
                                    </div>
                                    <div class="dis">
                                        <p>  iento Cajas premium Cigarrillos Filtros elementos
                                        Texto Paper Company Tabaco K. Hawaiian Skunk
                                        mium elementos de texto orgánico papel de fumar
                                        miento Cajas premium Cigarrillos Filtros elementos
                                         iento Cajas premium Cigarrillos Filtros elementos
                                        Texto Paper Company Tabaco K. Hawaiian Skunk
                                        .de tabaco cubano</p>
                                    </div>
                                    <div class="clear"></div>       
                                    <div class="actions">
                                    <a href="#" class="view_profile">Edit Profile</a>
                                    <a href="#" class="add"> Add Pictures</a>
                                    </div>        
                                <!--end profile_line--></div>
                            </div>
                            <div class="col2 ic">
                                <h2 class="iContacted">I Contacted</h2>
                                <div class="action_list">
                                    <a href="#" class="icon1">Contacted me </a>
                                    <a href="#" class="icon2">Viewed My Card</a>
                                    <a href="#" class="icon3">Add to Favorites</a>
                                    <a href="#" class="icon4">Message</a>
                                    <a href="#" class="icon5"> People I contacted</a>
                                    <a href="#" class="icon6"> Black Listed</a>
                                <!--end action_list--></div>
                            </div>
                            <div style="clear:both;"></div>  
                        </div>
                    </div>
                    <div class="bottom">&nbsp;</div>
                </div>
                <div class="bg forumblock">
                    <div class="top">&nbsp;</div>
                    <div class="middle">
                        <h2 class="iForum h2m">Forums</h2>
                        <div class="warpper">
                            <div>
                                <div class="blog_short">
                                    <a href="#">
                                    <span class="title">Sharon</span> |
                                    <span class="date">21/7/2013</span> |
                                    <span class="disc">elementos premium Cigarrillos Filtros elementos premium Cigarrillos Filtros elementos</span>
                                    </a>
                                </div>     
                                <div class="blog_short">
                                    <a href="#">
                                    <span class="title">Sharon</span> |
                                    <span class="date">21/7/2013</span> |
                                    <span class="disc">elementos premium Cigarrillos Filtros elementos premium Cigarrillos Filtros elementos</span>
                                    </a>
                                </div>   
                                <div class="blog_short no-bor">
                                    <a href="#">
                                    <span class="title">Sharon</span> |
                                    <span class="date">21/7/2013</span> |
                                    <span class="disc">elementos premium Cigarrillos Filtros elementos premium Cigarrillos Filtros elementos</span>
                                    </a>
                                </div>            
                            </div>
                        </div>
                    </div>
                    <div class="bottom">&nbsp;</div>
                </div>
                <div class="bg blogblock">
                    <div class="top">&nbsp;</div>
                    <div class="middle">
                        <h2 class="iBlog h2m">Blogs</h2>
                        <div class="warpper">
                            <div>
                                <div class="blog_short">
                                    <a href="#">
                                    <span class="title">Sharon</span> |
                                    <span class="date">21/7/2013</span> |
                                    <span class="disc">elementos premium Cigarrillos Filtros elementos premium Cigarrillos Filtros elementos</span>
                                    </a>
                                </div>     
                                <div class="blog_short">
                                    <a href="#">
                                    <span class="title">Sharon</span> |
                                    <span class="date">21/7/2013</span> |
                                    <span class="disc">elementos premium Cigarrillos Filtros elementos premium Cigarrillos Filtros elementos</span>
                                    </a>
                                </div>   
                                <div class="blog_short no-bor">
                                    <a href="#">
                                    <span class="title">Sharon</span> |
                                    <span class="date">21/7/2013</span> |
                                    <span class="disc">elementos premium Cigarrillos Filtros elementos premium Cigarrillos Filtros elementos</span>
                                    </a>
                                </div>            
                            </div>
                        </div>
                    </div>
                    <div class="bottom">&nbsp;</div>
                </div>
                
            </div>
            
            
            {{ include ('D4DAppBundle:Frontend:User/sidebar.twig.html') }}
            
            
        </div>
    </div>
    



{% endblock %}