	{% extends "D4DAppBundle::frontend.layout.twig.html" %}

	{% if form is defined and form %}{% form_theme form 'D4DAppBundle:Common/Form:frontend_form_layout.html.twig' %}{% endif %}

	{% block content %}
		<div id="content-body">
			<div class="mwarp">
				<div class="wide">
					<div class="bg topblock">
						<div class="top">&nbsp;</div>
						<div class="middle">
							<div class="warpper full-col">
								<h2 class="iMatches">Recovery Password</h2>								
								<div class="wrap">
									{% if success is defined and success == true %}
										<div style="text-shadow: 0px 0px 1px grey;color: #fff;font-size: 20px;background: #94ed90;text-align: center;padding: 10px 50px;border-radius: 18px;">
											Recovery password was successfully. Check your email.
										</div>
									{% else %}	
										{% if success == 'error' %}
											<div style="text-shadow:0px 0px 1px red;color:#fff;font-size:17px;background:#de4f15;text-align:center;padding:10px;border-radius: 18px; margin-bottom: 10px;">
												This email is not registered
											</div>
										{% endif %}
										{{ form_start(form, {'attr': {'id': 'recovery_form', 'class': 'signform_01'}}) }}
											{{ form_row(form.email) }}
											<div class="field_text" style="width:480px;">
												<div class="submit" style="margin-top:0px;" onclick="$('#recovery_submit').click();">Send</div>
											</div>
											<div class="clear"></div>   
											<input style="display: none;" id="recovery_submit" type="submit" name="user(add)" value="add"/>
										{{ form_end(form) }}
									{% endif %}
								</div>
								<div class="clear"></div>                           
							</div>
						</div>
						<div class="bottom">&nbsp;</div>
					</div>
				</div>
				{{ include ('D4DAppBundle:Frontend:Common/sidebar.twig.html') }}
			</div>
		</div>

	{% endblock %}