							
							{% if pagination.pages_count > 1 %}							
							
								<div class="pagination" id="searchPagination">
								        {% if pagination.page > 1 %}
								        	 <span>
								        	 	&#60;
								        	 	&#60;
								        	 	<input type="hidden" value="1" />
											 </span> 
											 
											 <span>
												&#60;											
												<input type="hidden" value="{{ pagination.page-1 }}" />											
											 </span>						
								        {% endif %}
								        							        
								        {# display p numbers only from p-4 to p+4 but don't go < 1 or > pages_count #}
								        
								        {% for p in range(max(pagination.page - 5, 1), min(pagination.page + 5, pagination.pages_count)) %}
								            <span class="{% if p == pagination.page %}bold{% endif %}">
								            	{{ p }}
								            	<input type="hidden" value="{{ p }}" />
								            </span>							            
								        {% endfor %}							        
								        
								        {% if pagination.page < pagination.pages_count %}							        
								        	 <span>
												&#62;
												<input type="hidden" value="{{ pagination.page+1 }}" />											
											 </span>
											 
											 <span>
												&#62;
												&#62;
												<input type="hidden" value="{{ pagination.pages_count }}" />											
											 </span>    
								        {% endif %}
								    
								</div>
								
								<div class="clear"></div>
							
							{% endif %}
							
							<form id="searchSettingsForm" action="" method="post">							
								{% if searchSettings is defined %}
									{% for key,value in searchSettings %}
										{% if searchSettings[key] is iterable %}						
											{% for key2,value2 in searchSettings[key] %}
												<input type="hidden" class="searchSettings" name="users[{{ key }}][{{ key2 }}]" value="{{ value2 }}" />
											{% endfor %}
										{% else %}
											<input type="hidden" class="searchSettings" name="users[{{ key }}]" value="{{ value }}" />
										{% endif %}						
									{% endfor %}
								{% endif %}
								{% if settings is defined and settings and groupName == 'favi' %}
									<input type="hidden" name="settings" value="{{ settings }}" />
								{% endif %}
								<input type="hidden" name="page" value="" id="requestedPage">
								
							</form>
							