								{% for user in users.items %}
									
									<div class="member_list">    
		                                
		                                <div class="lisiting-item">
		                                    <div class="list-image" onclick="viewUserProfile({{ user.userid }}, $(this).offset().top)">
		                                        <div class="portrait">               
		                                        <div class="por_name">
		                                        <a>
			                                        <span>{{ user.usernic }}</span>
			                                        <span style="font-size:11px;">{{ user.age }}, from {{ user.cityname }}</span>
		                                        </a>
		                                        </div>		                                        
		                                        {% if user.userPaying %}
			                                    	<div class="ribbon">&nbsp;</div>
			                                    {% endif %}
		                                        {% if user.mainPhoto %}
		                                        	{# <img src="{{user.mainPhoto|imagine_filter('my_thumb2')}}" alt="" /> #}
		                                        	<img src="{{ web_image(user.mainPhoto.getWebPath).resize(116, 140) }}" alt="" />
		                                        {% endif %}
		                                        </div>
		                                    </div>
		                                    <div class="list-text">
		                                        <h4>{{ user.usernic }}</h4>
		                                        <p>{{ user.useraboutme|raw }}</p>
		                                        <div class="list-links">
													{% if settings is defined and settings and groupName == 'favi' %}
														<a href="" onclick="changeUserGroup('{{ groupName }}','{{ user.userid }}','0',this);return false;" id="remove" class="close" style="float: none;padding: 7px 0 5px 37px;background: url(/assets/frontend/images/profile-sprite.png) no-repeat;">Remove</a>
													{% else %}														
														<a class="profile" onclick="viewUserProfile({{ user.userid }}, $(this).offset().top)">View Profile</a>
														<a href="#" class="message">Send Message</a>
														{% if (groupName is defined and groupName != 'favi') or groupName is not defined %} 
															<a href="" onclick="changeUserGroup('favi','{{ user.userid }}','1',this);return false;" class="friend">Add Friend</a> 
														{% endif %}
														<a class="chat" id="chat_{{ user.userid }}_{{user.usernic}}">Chat</a>
													{% endif %}
		                                        </div>
		                                    </div>
		                                    <div class="clear"></div>
		                                </div>		                                
		                                	
		                            </div>
		                            
								{% endfor %}