{% extends "D4DAppBundle::frontend.layout.twig.html" %} 

{% block js %}
    {{- parent() }}
    <script type='text/javascript'>
        $(document).ready(function(){
            $('body').attr('class','home2');
            $('#menu').addClass('nomargin');
        });
    </script>
{% endblock %}

{% block login %}
    <div class="home-menu">
        {% if error is defined and error %}
            <div>{{ error.message }}</div>
        {% endif %}
        <form id="login" action="{{ path('user_login_check') }}" method="post">
            <label for="username">Email/Nick:</label><input type="text" id="username" name="_username" value="{{ last_username }}" />
            <label for="password">Password:</label><input type="password" id="password" name="_password" />
            {#
                If you want to control the URL the user
                is redirected to on success (more details below)
                <input type="hidden" name="_target_path" value="/user/home" /> 
            #}
            <input type="submit" value="Sign In" id="logins"/>
        </form>
        <a href="#" class="forgotp">Forgot Password</a>
        <div class="social-login">
        <span> Register with Facebook/Google+ </span>
        <a href="#" class="google">google+</a>
        <a href="#" class="facebook">facebook</a>
        <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}

{% block content %}
    <div id="content-body">
        <div class="mwarp home">
            <div class="home-left">
                <div class="qoute"><img src="/assets/frontend/images/home-title-q2.png" height="218" width="186" /></div>
                <div class="clear"></div>
                <div class="homeintro">
                    <p><img src="/assets/frontend/images/home-title.png" height="101" width="410" /></p>
                    <p>Dating4Disabled is an online community for people with disabilities. <br/>
                    Our members use our dating service not only to find love, but also friendship.  <br/>
                    Dating for Disabled is a great way to meet other singles with disabilities;  <br/>
                    so what are you waiting for?! Registration is FREE!  
                    </p>
                </div>
            </div>
            <div class="home-right">
                <div class="sidebar-block">
                    <a href="{{ path('user_sign_up') }}" class="regist">Free Registration</a>
                    <div class="spacer"></div>
                    <a href="#" class="facebook">Facebook Registration</a>
                    <div class="search">
                        <form>
                           <label>I am a:</label>
                           <div class="inputwarp">
                                <div class="picker pick-1">
                                <div id="gan_man" class="gen_picker">Man </div>
                                <div class="select_switch woman"> <div id="bpic">&nbsp;</div> </div>
                                <div id="gan_wom" class="gen_picker current">Woman </div>
                                </div>
                                <div class="clear"></div>
                           </div>
                           <div class="clear"></div>
                           <label class="ie7fix">Seeking a:</label>
                           <div class="inputwarp">
                                <div class="picker pick-2">
                                <div id="gan_manb" class="gen_picker current">Man </div>
                                <div class="select_switch man"> <div id="bpicb">&nbsp;</div> </div>
                                <div id="gan_womb" class="gen_picker">Woman </div>
                                </div>
                                <div class="clear"></div>
                           </div>
                           <div class="clear"></div>
                           <input type="submit" value="Search" id="search-submit" />
                        </form>
                    </div>
                </div>
                <a href="#" class="sidebar-link">
                    <img src="/assets/frontend/images/sidebar-link-google2.png" height="86" width="270" />
                </a>
                <a href="#" class="sidebar-link">
                    <img src="/assets/frontend/images/sidebar-link-apple2.png" height="86" width="270" />
                </a>
                
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}