						<div id="top">
							<a href="http://dating4disabled.com" target="_blank">
								<div class="control" id="logo">
									<i class="home icon"></i>
									Dating4Disabled									
								</div>
							</a>
							  
							<a href="{{path('admin_logout')}}">
								<div class="control">
									<i class="sign out icon"></i>
									Sign&nbsp;out
								</div>
							</a>
														
						</div>
						
						
						<div id="main_menu">							
							<div class="menu_item selected">
								<i class="users icon"></i>
								Users								
							</div>
														
							<div class="menu_item">
								<i class="chat icon"></i>
								Messages								
							</div>
							
							<div class="menu_item">
								<i class="globe icon"></i>
								Global actions								
							</div>
							
							<div class="menu_item">
								<i class="ordered list icon"></i>
								Reports								
							</div>
							
							<div class="menu_item">
								<i class="flag icon"></i>
								Banners								
							</div>						
							
							<div class="menu_item lastInRow">
								<i class="settings icon"></i>
								System settings								
							</div>
							<a href="/admin/news" title="News">
                                                            <div class="menu_item topBorder">
                                                                    <i class="calendar icon"></i>
                                                                    News								
                                                            </div>
                                                        </a>
							<div class="menu_item topBorder">
								<i class="tasks icon"></i>
								Forums								
							</div>
							<div class="menu_item topBorder">
								<i class="pencil icon"></i>
								Blogs								
							</div>
                                                        <a href="/admin/faq" title="FAQ">
                                                            <div class="menu_item topBorder">
                                                                    <i class="question icon"></i>
                                                                    FAQ								
                                                            </div>
                                                        </a>
							<a href="/admin/pages" title="Pages">
                                                            <div class="menu_item topBorder">
                                                                    <i class="text file icon"></i>
                                                                    Pages								
                                                            </div>
                                                        </a>
							<div class="menu_item topBorder lastInRow">
								<i class="paste icon"></i>
								Templates								
							</div>
							
							
						</div>
						
						<div class="blueLine"></div>