<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block js %}{% endblock %}
        {% block editor%}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    
    <body>    
        {% block body %}{% endblock %}        
        {% block javascripts %}{% endblock %}        
        <input type="hidden" id="currentRoute" value="{{ path(app.request.attributes.get('_route')) }}">
        <input type="hidden" id="currentUri" value="{{ app.request.uri }}">        
    </body>
</html>
