{% extends "D4DAppBundle::backend.layout.twig.html" %}

{% block editor%}
    <script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>
    <script type="text/javascript">
            tinymce.init({
                selector:'textarea#pages_pagebody',
                theme: "modern",
                plugins: [
                    "advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker",
                    "searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking",
                    "save table contextmenu directionality emoticons template paste textcolor"
                ],
                content_css: "css/content.css",
                toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | l      ink image | print preview media fullpage | forecolor backcolor emoticons", 
            });
    </script>
{% endblock %}

{% block users_statistics %}
    <h2 class="ui header floated left">
      <i class="text file icon"></i>
      Pages
    </h2>	
    <div class="clear"></div>

    <div class="ui breadcrumb small">  
      <a href="{{ pagesUrl }}" class="section blue">Pages</a>
      <div class="divider"> / </div>
      <div class="active section">{{ action }} Page</div>
    </div>
    <div class="tabSegments" id="pagesWraper">
        <div class="ui active tab" id="news">
            <div class="ui form blue stacked segment">
                <h3 class="ui header floated left">
                        <i class="{% if icon=='save' %}edit{% else %}{{ icon }}{% endif %} icon circular small"></i>
                        {{ action }} Page
                </h3>
                <div class="clear"></div>
                {{ form_start(form, {'attr': {'id': 'pages_form'}}) }}

                {{ form_errors(form.pagename) }}    
                <div class="field">
                    {{ form_label(form.pagename) }}
                    <div class="ui small input">
                        {{ form_widget(form.pagename) }}
                        <div class="ui corner label">
                                <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>

                {{ form_errors(form.pagetitle) }}  
                <div class="field">
                    {{ form_label(form.pagetitle) }}
                    <div class="ui small input">
                        {{ form_widget(form.pagetitle) }}
                        <div class="ui corner label">
                                <i class="icon asterisk"></i>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>

                {{ form_errors(form.pagebody) }}
                <div class="field">
                    {{ form_label(form.pagebody) }}
                    <div class="clear"></div>
                    <div class="textarea">
                        {{ form_widget(form.pagebody) }}                    
                    </div>
                </div>

                <div class="clear"></div>

                <div class="ui labeled icon button blue small" onclick="$('#news_submit').click();"><i class="inverted {{ icon }} icon"></i>{{ button }}</div>            

                <input style="display: none;" id="news_submit" type="submit" name="page({{ action }})" value="{{ action }}"/>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock%}