{% extends "D4DAppBundle::backend.layout.twig.html" %}

{% block users_statistics %}
    <h2 class="ui header floated left">
      <i class="question icon"></i>
      FAQ
    </h2>
    <div class="tabMenu">
            <div class="ui pointing secondary demo menu floated right">            
                <a href="{{ faqurl }}" class="item blue">
                        <i class="inbox icon"></i>
                        Manage FAQ
                    </a>
                <a href="{{ faqurl }}#categories" class="item blue active">
                        <i class="open folder icon"></i>
                        Categories
                    </a>            
            </div>
    </div>	
    <div class="clear"></div>
    <div class="ui breadcrumb small">  
      <a href="{{ faqurl }}#categories" class="section blue">Categoties</a>
      <div class="divider"> / </div>
      <div class="active section">{{ action }} Category</div>
    </div>
    <div class="tabSegments" id="faqWraper">
        <div class="ui active tab" id="faq">
            <div class="ui form blue stacked segment">
                <h3 class="ui header floated left">
                        <i class="{% if icon=='save' %}edit{% else %}{{ icon }}{% endif %} icon circular small"></i>
                        {{ action }} Category
                </h3>
                <div class="clear"></div>
                {{ form_start(form, {'attr': {'id': 'faqcategory_form'}}) }}
                {{ form_errors(form) }}


                <div class="field">
                    {{ form_label(form.faqcategoryname) }}  
                    <div class="ui small input">
                        {{ form_widget(form.faqcategoryname) }}
                        <div class="ui corner label">
                                <i class="icon asterisk"></i>
                        </div>
                    </div>

                </div>
                <div class="clear"></div>

                <div class="ui labeled icon button blue small" onclick="$('#faq_submit').click();"><i class="inverted {{ icon }} icon"></i>{{ button }}</div>
                <input style="display: none;" id="faq_submit" type="submit" name="faq({{ action }})" value="{{ button }}"/>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock%}