{% extends '::base.twig.html' %}

{% block doctype %}
<!DOCTYPE html>
<html>
{% endblock %}

{% block title %}D4D - Control Panel{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/backend/libs/semantic/packaged/css/semantic.css" />
	<link rel="stylesheet" href="/assets/backend/libs/jquery-ui/css/cupertino/jquery-ui-1.10.4.custom.min.css" />
	<link rel="stylesheet" href="/assets/backend/css/style.css" />	
{% endblock %}

{% block js %}
	<script src="/assets/backend/js/jquery.js"></script>        
	<script src="/assets/backend/libs/semantic/packaged/javascript/semantic.js"></script>
	<script src="/assets/backend/libs/jquery-ui/js/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="/assets/backend/js/jquery.address.js"></script>
	<script src="/assets/backend/js/main.js"></script>	
{% endblock %}

{% block body%}
	<body> 
		<div id="wraper">
			<div id="main">
				<div id="main_wraper">								
					<div id="content">					
						
						{% if is_granted("ROLE_ADMIN") %}							
							{{ include ('D4DAppBundle:Backend:Common/top.twig.html') }}
						{% endif %}
						
						{% block login %}{% endblock %}						
												
						<div id="desktop">						
							{% block content %}{% endblock %}						
						</div>
																	
					</div>	
				</div>	
			</div>
		</div>
				  
		<input type="hidden" id="currentRoute" value="{{ path(app.request.attributes.get('_route')) }}">
        <input type="hidden" id="currentUri" value="{{ app.request.uri }}">        
    </body>		
{% endblock %}

