								
								{% set itemsNumber = field|length %}								
								
								{% if numberInColumn is not defined or numberInColumn == 0 %}
									{% set numberInColumn = ( itemsNumber / columnsNumber )|round %}																	
								{% endif %}
								
								{% if margin is not defined or margin == "" %}
									{% set margin = "marR22" %}									
								{% endif %}
								
								<div class="ui one fields">
									<div class="field">
						    			{{ form_label(field) }}
						    						
						    			{% for item in field %}
						    						
						    				{% if (loop.index - 1) % numberInColumn == 0 %}						    								
						    					<div class="left {{margin}}">						    							
						    				{% endif %}
						    												    							
													<div class="ui checkbox">
														{{ form_widget(item) }}														
														{{ form_label(item) }}							
													</div>
													<div class="clear"></div>
											{% if loop.index % numberInColumn == 0  or loop.index == itemsNumber %}
						    					</div>						    							
						    				{% endif %}
														
						    			{% endfor %}							
										
					    			</div>
					    		</div>