{% extends "D4DAppBundle::backend.layout.twig.html" %}



{% block users_statistics %}



	{% if app.request.get('filter') == 'total' %}
		{% set pageTitle = 'All Users' %}
		{% set pageIcon = 'users basic' %}
		{% set allUsersActiveItem = 'active' %}
		{% set allUsersActiveLabel = 'blue' %}				
	{% else %}
		{% set allUsersActiveItem = '' %}
		{% set allUsersActiveLabel = '' %}
	{% endif %}
	
	
	{% if app.request.get('filter') == 'male' %}
		{% set pageTitle = 'Male' %}
		{% set pageIcon = 'male' %}
		{% set maleActiveItem = 'active' %}
		{% set maleActiveLabel = 'blue' %}		
	{% else %}
		{% set maleActiveItem = '' %}
		{% set maleActiveLabel = '' %}
	{% endif %}
	
	{% if app.request.get('filter') == 'female' %}
		{% set pageTitle = 'Female' %}
		{% set pageIcon = 'female' %}
		{% set femaleActiveItem = 'active' %}
		{% set femaleActiveLabel = 'blue' %}		
	{% else %}
		{% set femaleActiveItem = '' %}
		{% set femaleActiveLabel = '' %}		
	{% endif %}
	
	{% if app.request.get('filter') == 'flagged' %}
		{% set pageTitle = 'Flagged Users' %}
		{% set pageIcon = 'flag' %}		
		{% set flaggedActiveItem = 'active' %}
		{% set flaggedActiveLabel = 'blue' %}		
	{% else %}
		{% set flaggedActiveItem = '' %}
		{% set flaggedActiveLabel = '' %}
	{% endif %}
	
	{% if app.request.get('filter') == 'withPhotos' %}
		{% set pageTitle = 'Users With Photos' %}
		{% set pageIcon = 'photos basic' %}		
		{% set withPhotosActiveItem = 'active' %}
		{% set withPhotosActiveLabel = 'blue' %}		
	{% else %}
		{% set withPhotosActiveItem = '' %}
		{% set withPhotosActiveLabel = '' %}
	{% endif %}
	
	{% if app.request.get('filter') == 'inactive' %}
		{% set pageTitle = 'Inactive' %}
		{% set pageIcon = 'cancel circle basic' %}		
		{% set inactiveActiveItem = 'active' %}
		{% set inactiveActiveLabel = 'blue' %}		
	{% else %}
		{% set inactiveActiveItem = '' %}
		{% set inactiveActiveLabel = '' %}
	{% endif %}
	
	{% if app.request.get('filter') == 'notCompletedRegistration' %}
		{% set pageTitle = 'Not Completed Registration' %}
		{% set pageIcon = 'half empty star' %}		
		{% set notCompletedRegistrationActiveItem = 'active' %}
		{% set notCompletedRegistrationActiveLabel = 'blue' %}		
	{% else %}
		{% set notCompletedRegistrationActiveItem = '' %}
		{% set notCompletedRegistrationActiveLabel = '' %}
	{% endif %}	
	
	{% if app.request.get('filter') == 'notActivated' %}
		{% set pageTitle = 'Not Activated' %}
		{% set pageIcon = 'warning' %}		
		{% set notActivatedActiveItem = 'active' %}
		{% set notActivatedActiveLabel = 'blue' %}		
	{% else %}
		{% set notActivatedActiveItem = '' %}
		{% set notActivatedActiveLabel = '' %}
	{% endif %}
	
	{% if app.request.get('filter') == 'notApproved' %}
		{% set pageTitle = 'Not Approved' %}
		{% set pageIcon = 'thumbs down' %}		
		{% set notApprovedActiveItem = 'active' %}
		{% set notApprovedActiveLabel = 'blue' %}		
	{% else %}
		{% set notApprovedActiveItem = '' %}
		{% set notApprovedActiveLabel = '' %}
	{% endif %}	
	
	{% if app.request.get('filter') == 'frozen' %}
		{% set pageTitle = 'Frozen' %}
		{% set pageIcon = 'asterisk' %}		
		{% set frozenActiveItem = 'active' %}
		{% set frozenActiveLabel = 'blue' %}		
	{% else %}
		{% set frozenActiveItem = '' %}
		{% set frozenActiveLabel = '' %}
	{% endif %}	
	
	{% if app.request.get('filter') == 'blocked' %}
		{% set pageTitle = 'Blocked' %}
		{% set pageIcon = 'block basic' %}		
		{% set blockedActiveItem = 'active' %}
		{% set blockedActiveLabel = 'blue' %}		
	{% else %}
		{% set blockedActiveItem = '' %}
		{% set blockedActiveLabel = '' %}
	{% endif %}
	
	{% if app.request.get('filter') == 'paying' %}
		{% set pageTitle = 'Paying' %}
		{% set pageIcon = 'dollar basic' %}		
		{% set payingActiveItem = 'active' %}
		{% set payingActiveLabel = 'blue' %}		
	{% else %}
		{% set payingActiveItem = '' %}
		{% set payingActiveLabel = '' %}
	{% endif %}
	

<input type="hidden" id="filter" value="{{ app.request.get('filter') }}" />
<input type="hidden" id="page" value="{{ page }}" />
<input type="hidden" id="profileRoute" value="{{ path('admin_users_profile') }}" />

<h2 class="ui header floated left">
  <i class="users icon "></i>
  Manage Users
</h2>


<div class="tabMenu">
	<div class="ui pointing secondary demo menu floated right">
	    <a class="active item blue" href="{{path('admin_home')}}">
		    <i class="bar chart basic icon"></i>
		    Statistics
		</a>
	    <a class="item blue">
		    <i class="ordered list icon"></i>
		    Reports
		</a>
	    <a class="item blue" href="{{path('admin_users_search')}}">
		    <i class="search icon"></i>
		    Search
		</a>
	</div>
</div>	

<div class="clear"></div>

<div class="tabSegments">
	
	<div class="ui active tab segment" id="statWraper">
	
		<h3 class="ui header floated left">			
			<i class="{{pageIcon}} icon circular small"></i>
			{{pageTitle}}
		</h3>
		
		<div class="ui small circular label">{{ users.getTotalItemCount }}</div>
		
		<div class="right">
			<div class="ui bottom pointing dropdown labeled icon button blue mini" id="usersActions">
				<i class="settings icon inverted"></i>
				Actions With Selected
				<div class="ui menu" id="usersMenuActions">
				
					<div class="item" id="userNotActivated_0"><i class="checkmark icon"></i>Activate</div>
					<div class="item" id="userNotActivated_1"><i class="cancel circle basic icon"></i>Deactivate</div>
					<div class="item" id="userNotComlitedRegistration_0"><i class="star icon"></i>Complete Registration</div>
					<div class="item" id="userNotComlitedRegistration_1"><i class="half empty star icon"></i>Incomplete Registration</div>
					<!-- <div class="item" id="sendActivationEmail"><i class="mail icon"></i>Send "Activation" Email</div> -->
					<div class="item" id="userBlocked_1"><i class="block basic icon"></i>Block</div>
					<div class="item" id="userBlocked_0"><i class="circle blank icon"></i>Unblock</div>
					<div class="item" id="userAdminMarked_1"><i class="flag icon"></i>Flag User </div>
					<div class="item" id="userAdminMarked_0"><i class="empty flag icon"></i>Unflag User</div>
					<div class="item" id="userNotApproved_0"><i class="thumbs up icon"></i>Approve</div>
					<div class="item" id="userNotApproved_1"><i class="thumbs down icon"></i>Unapproved</div>
					<div class="item" id="delete"><i class="trash icon"></i>Delete</div>
					<div class="item" id="blockAndDelete"><i class="remove icon"></i>Block & Delete</div>
					
					<!-- 
					<div class="item" id="activate"><i class="checkmark icon"></i>Activate</div>
					<div class="item" id="dectivate"><i class="cancel circle basic icon"></i>Deactivate</div>
					<div class="item" id="completeRegistration"><i class="star icon"></i>Complete Registration</div>
					<div class="item" id="incompleteRegistration"><i class="half empty star icon"></i>Incomplete Registration</div>
					<div class="item" id="sendActivationEmail"><i class="mail icon"></i>Send "Activation" Email</div>
					<div class="item" id="block"><i class="block basic icon"></i>Block</div>
					<div class="item" id="unblock"><i class="circle blank icon"></i>Unblock</div>
					<div class="item" id="flagUser"><i class="flag icon"></i>Flag User </div>
					<div class="item" id="unflagUser"><i class="empty flag icon"></i>Unflag User</div>
					<div class="item" id="approve"><i class="thumbs up icon"></i>Approve</div>
					<div class="item" id="unapproved"><i class="thumbs down icon"></i>Unapproved</div>
					<div class="item" id="delete"><i class="trash icon"></i>Delete</div>
					<div class="item" id="blockAndDelete"><i class="remove icon"></i>Block & Delete</div>
					 -->					
				</div>
			</div>
			
			<form action="#" id="usersIdsForm" method="post">
				<input type="hidden" id="usersIds" name="usersIds[]" value="" />
								
			</form>
			
		</div>				
		
				
		<table class="ui small table users">
			<thead>
			    <tr>
				    
				    {#

				    <th>{{ knp_pagination_sortable(users, 'ID', 'u.userId') }}</th>
				    <th>{{ knp_pagination_sortable(users, 'Username', 'userNic') }}</th>
				    <th>Age</th>
				    <th>{{ knp_pagination_sortable(users, 'Email', 'userEmail') }}</th>
				    #}
				    
				    <th>
				    
				    <div class="ui checkbox" id="selectAll">
						<input type="checkbox">
						<label></label>
					</div>
				    
				    </th>
					<th>ID</th>				    
					<th>Age</th>
					<th>Username</th>
					<th>Email</th>
					<th>Properties</th>
					
					<th><i class="location basic purple icon"></i></th>
					<th><i class="photos basic blue icon"></i></th>					
					<th><i class="chat blue icon"></i></th>					
					<th><i class="edit blue icon"></i></th>
					<th><i class="trash blue icon"></i></th> 
			  	</tr>
		  	</thead>		
		
		  
		  	<tbody>
		  		{% for user in users %}
				<tr class="userRow">
					<td>
						<div class="ui checkbox">
							<input type="checkbox" value="{{user.userId}}" >
							<label></label>							
						</div>
					</td>
					<td class="userId">{{ user.userId }}</td>
					<td>{{ user.age }}</td>
					<td>{{ user.userNic }}</td>					
					<td><div class="email">{{ user.userEmail }}</div></td>
					
			      	<td class="props">			      		
			      		
			      		{% if user.userGender == 0 %}
			      			<i class="male link icon" 
			      				data-content="Male" 
								data-position="top center">
							</i>
			      		{% else %}
			      			<i class="female link icon" 
			      				data-content="Female" 
								data-position="top center">
							</i>
			      		{% endif %}
			      		
			      		{% if user.userPaying == 1 %} 			      			
			      			<i class="basic dollar green link icon" 
			      				data-content="Paid subscription" 
								data-position="top center">
							</i>
			      		{% endif %}
			      		
			      		{% if user.userAdminMarked == 1 %}
			      			<i class="block flag purple link icon" 
			      				data-content="Flagged user" 
								data-position="top center">
							</i>
			      		{% endif %}
			      		
			      		{% if user.userNotComlitedRegistration == 1 %}
			      			<i class="half empty star link icon" 
			      				data-content="Not completed registration" 
								data-position="top center">
							</i>
			      		{% endif %}
			      		
			      		{% if user.userNotActivated == 1 %}
			      			<i class="warning red link icon" 
			      				data-content="Not activated" 
								data-position="top center">
							</i>
			      		{% endif %}
			      		
			      		{% if user.userNotApproved == 1 %}
			      			<i class="thumbs down link icon" 
			      				data-content="Not approved" 
								data-position="top center">
							</i>
			      		{% endif %}
			      		
			      		{% if user.userFrozen == 1 %}
			      			<i class="asterisk basic purple link icon" 
			      				data-content="Frozen" 
								data-position="top center">
							</i>
			      		{% endif %}
			      		
			      		{% if user.userBlocked == 1 %}
			      			<i class="block basic red link icon" 
			      				data-content="Blocked" 
								data-position="top center">
							</i>
			      		{% endif %}
						
					</td>					
					
										
					<td>
						
						<!-- 
						<div class="ui pointing dropdown icon">
							<i class="location basic icon"></i>
							<div class="menu">
								<div class="item">United States of America</div>								
							</div>
						</div>
						 -->
						 
						<i class="location basic icon purple link"
							data-content="{{user.country.name}}" 
							data-position="left center">
						</i>
							
					</td>
					
					
					<td><i class="photos basic blue link icon"></i></td>
					<td><i class="chat blue link icon"></i></td>					
					<td><i class="edit blue link icon"></i></td>
					<td><i class="trash blue link icon"></i></td>
				</tr>
				<tr class="hidden">
					<td colspan="11" class="profileWraper">
						<div class="ui inverted dimmer">
						    <div class="ui text large loader">Loading</div>
						</div>											
						
						<div class="profile" id="profile_{{user.userId}}">
							
						</div>	
					</td>
				
				</tr>				
				{% endfor %}			    
		    </tbody>
		    
		    <!-- 
		    		<td><i class="asterisk basic purple icon"></i></td>
					<td><i class="block basic red icon"></i></td>
					<td><i class="cancel circle basic red icon"></i></td>
		     -->
		    
		 	<tfoot>
		 		<tr>
		 			<th colspan="15">
		    			{{ knp_pagination_render(users) }}
		 			</th>
		 		</tr>
		 	</tfoot>		    
		  
		</table>
				
		<div id="getSideBar">
			<div class="ui mini button blue">
				<i class="list icon"></i>
			</div>
		</div>
		
		<div class="ui left sidebar small vertical menu blue" id="statSidebar">	
			
			<a class="item {{ allUsersActiveItem }}" href="/admin/users/statistics">
			    <div class="ui small label {{ allUsersActiveLabel }}"></div>
			    <i class="users basic icon"></i>			    
			    All Users
			</a>
			
			<a class="item {{maleActiveItem}}" href="/admin/users/statistics/male">
				<div class="ui small label {{maleActiveLabel}}"></div>
			    <i class="male icon"></i>
			    Male
			</a>
			
			<a class="item {{femaleActiveItem}}" href="/admin/users/statistics/female">			
				<div class="ui small label {{femaleActiveLabel}}"></div>
			    <i class="female icon"></i>
			    Female
			</a>
			
			<a class="item {{flaggedActiveItem}}" href="/admin/users/statistics/flagged">
				<div class="ui small label {{flaggedActiveLabel}}"></div>
			    <i class="flag icon"></i>
			    Flagged
			</a>
			
			<a class="item {{withPhotosActiveItem}}" href="/admin/users/statistics/withPhotos">
				<div class="ui small label {{withPhotosActiveLabel}}"></div>
			    <i class="photos basic icon"></i>
			    With Photos
			</a>
			
			<a class="item {{inactiveActiveItem}}" href="/admin/users/statistics/inactive">			
				<div class="ui small label {{inactiveActiveLabel}}"></div>
			    <i class="cancel circle basic icon"></i>
			    Inactive			    
			</a>
			
			<a class="item {{notCompletedRegistrationActiveItem}}" href="/admin/users/statistics/notCompletedRegistration">
				<div class="ui small label {{notCompletedRegistrationActiveLabel}}"></div>
			    <i class="half empty star icon"></i>			    
			    Not Completed Registration			    
			</a>
			
						
			<a class="item {{notActivatedActiveItem}}" href="/admin/users/statistics/notActivated">			
				<div class="ui small label {{notActivatedActiveLabel}}"></div>
			    <i class="warning icon"></i>
			    Not Activated
			</a>
			
			<a class="item {{notApprovedActiveItem}}" href="/admin/users/statistics/notApproved">
				<div class="ui small label {{notApprovedActiveLabel}}"></div>
			    <i class="thumbs down icon"></i>
			    Not Approved
			</a>
			
			<a class="item {{frozenActiveItem}}" href="/admin/users/statistics/frozen">
				<div class="ui small label {{frozenActiveLabel}}"></div>
			    <i class="asterisk basic icon"></i>
			    Frozen
			</a>
			
			<a class="item {{blockedActiveItem}}" href="/admin/users/statistics/blocked">
				<div class="ui small label {{blockedActiveLabel}}"></div>
			    <i class="block basic icon"></i>
			    Blocked
			</a>
			
			<a class="item {{payingActiveItem}}" href="/admin/users/statistics/paying">
				<div class="ui small label {{payingActiveLabel}}"></div>
			    <i class="basic dollar icon"></i>
			    Paying
			</a>
			
			
			
			<a class="item">
				<div class="ui small label"></div>
			    <i class="hide icon"></i>			    
			    Not Approved Images
			</a>
			
							
		</div> 		
		
		{#
		<!-- 
		
		<div class="ui left sidebar small vertical menu blue" id="statSidebar">	
			
			<a class="item {{ allUsersActiveItem }}" href="/admin/users/statistics">
			    <div class="ui small label {{ allUsersActiveLabel }}">{{statistics.filters.total}}</div>
			    <i class="users basic icon"></i>			    
			    All Users
			</a>
			
			<a class="item {{maleActiveItem}}" href="/admin/users/statistics/male">
				<div class="ui small label {{maleActiveLabel}}">{{statistics.filters.man}}</div>
			    <i class="male icon"></i>
			    Male
			</a>
			
			<a class="item {{femaleActiveItem}}" href="/admin/users/statistics/female">			
				<div class="ui small label {{femaleActiveLabel}}">{{statistics.filters.weman}}</div>
			    <i class="female icon"></i>
			    Female
			</a>
			
			<a class="item {{flaggedActiveItem}}" href="/admin/users/statistics/flagged">
				<div class="ui small label {{flaggedActiveLabel}}">{{statistics.filters.flagged}}</div>
			    <i class="flag icon"></i>
			    Flagged
			</a>
			
			<a class="item {{withPhotosActiveItem}}" href="/admin/users/statistics/withPhotos">
				<div class="ui small label {{withPhotosActiveLabel}}">{{statistics.filters.withimages}}</div>
			    <i class="photos basic icon"></i>
			    With Photos
			</a>
			
			<a class="item {{inactiveActiveItem}}" href="/admin/users/statistics/inactive">			
				<div class="ui small label {{inactiveActiveLabel}}">{{statistics.filters.inactive}}</div>
			    <i class="cancel circle basic icon"></i>
			    Inactive			    
			</a>
			
			<a class="item {{notCompletedRegistrationActiveItem}}" href="/admin/users/statistics/notCompletedRegistration">
				<div class="ui small label {{notCompletedRegistrationActiveLabel}}">{{statistics.filters.notfinished}}</div>
			    <i class="half empty star icon"></i>			    
			    Not Completed Registration			    
			</a>
			
						
			<a class="item {{notActivatedActiveItem}}" href="/admin/users/statistics/notActivated">			
				<div class="ui small label {{notActivatedActiveLabel}}">{{statistics.filters.notactive}}</div>
			    <i class="warning icon"></i>
			    Not Activated
			</a>
			
			<a class="item {{notApprovedActiveItem}}" href="/admin/users/statistics/notApproved">
				<div class="ui small label {{notApprovedActiveLabel}}">{{statistics.filters.notapproved}}</div>
			    <i class="thumbs down icon"></i>
			    Not Approved
			</a>
			
			<a class="item {{frozenActiveItem}}" href="/admin/users/statistics/frozen">
				<div class="ui small label {{frozenActiveLabel}}">{{statistics.filters.frozen}}</div>
			    <i class="asterisk basic icon"></i>
			    Frozen
			</a>
			
			<a class="item {{blockedActiveItem}}" href="/admin/users/statistics/blocked">
				<div class="ui small label {{blockedActiveLabel}}">{{statistics.filters.blocked}}</div>
			    <i class="block basic icon"></i>
			    Blocked
			</a>
			
			<a class="item {{payingActiveItem}}" href="/admin/users/statistics/paying">
				<div class="ui small label {{payingActiveLabel}}">{{statistics.filters.paing}}</div>
			    <i class="basic dollar icon"></i>
			    Paying
			</a>
			
			
			
			<a class="item">
				<div class="ui small label">{{statistics.filters.notapprovedimages}}</div>
			    <i class="hide icon"></i>			    
			    Not Approved Images
			</a>
			
							
		</div>
		
		-->
		
		#}
	
	</div>	
	
	
</div>







<div class="ui modal">
	<i class="close icon"></i>
	
	<h2 class="ui header">
	  <i class="photos basic icon"></i>
	  <div class="content">
	    Alexjohn
	    <div class="sub header">Manage User Images.</div>
	  </div>
	</h2>
	
	<div class="content userImagesWraper">
	
		<div class="preview">
		
			<div class="ui four connected items">
				<div class="item">
					<img class="rounded ui image" src="http://dating4disabled.com/userpics/thumbz/90543.jpg" style="width:110px;height:110px;">
				</div>
				<div class="item">
					<img class="rounded ui image" src="http://dating4disabled.com/userpics/thumbz/90543.jpg" style="width:110px;height:110px;">
				</div>
				<div class="item">
					<img class="rounded ui image" src="http://dating4disabled.com/userpics/thumbz/90543.jpg" style="width:110px;height:110px;">
				</div>
				<div class="item">
					<img class="rounded ui image" src="http://dating4disabled.com/userpics/thumbz/90543.jpg" style="width:110px;height:110px;">
				</div>
				
			</div>	
			
			<div class="ui four connected items">
				<div class="item">
					<img class="rounded ui image" src="http://dating4disabled.com/userpics/thumbz/90543.jpg" style="width:110px;height:110px;">
				</div>
				<div class="item">
					<img class="rounded ui image" src="http://dating4disabled.com/userpics/thumbz/90543.jpg" style="width:110px;height:110px;">
				</div>
				<div class="item">
					<img class="rounded ui image" src="http://dating4disabled.com/userpics/thumbz/90543.jpg" style="width:110px;height:110px;">
				</div>
				<div class="item">
					<img class="rounded ui image" src="http://dating4disabled.com/userpics/thumbz/90543.jpg" style="width:110px;height:110px;">
				</div>
				
			</div>
		
		</div>
		
		<div class="ui divider vertical"><!-- <i class="photos circular basic icon"></i> --></div>  
		
		<div class="imageWraper" id="imageWraper">
		
		<!-- 
			<div class="ui stackable items">
			  <div class="item">
			    <div class="image">
			      <img src="http://dating4disabled.com/userpics/thumbz/90543.jpg">
			      <a class="like ui corner label">
			        <i class="like icon"></i>
			      </a>
			    </div>
			  </div>
			 </div> 
		 -->
		
		
		
		
			
			
			<div style="margin:0px auto 0px auto;width:300px;">
			
			
				<div class="ui one connected items">
					<div class="item">
						
						
						<div style="width:300px; height:300px;">					
							
							<div class="ui cube shape">
							  <div class="sides">
							    <div class="active side">
							      
							       <div class="center">
							          <img class="rounded ui image" src="http://dating4disabled.com/userpics/thumbz/90543.jpg">
							           <a class="like ui corner label">
								        <i class="external url icon"></i>
								      </a>
							       </div>
							      
							    </div>
							    
							    <div class="side">
							      
							       <div class="center">
							          <img class="rounded ui image" src="http://dating4disabled.com/userpics/thumbz/90543.jpg">
							       </div>
							      
							    </div>
							    
							    <div class="side">
							      
							     <div class="center">
							          <img class="rounded ui image" src="http://dating4disabled.com/userpics/thumbz/90543.jpg">
							       </div>
							      
							    </div>
							 
							  </div>
							</div>
						
						</div>
						
						
						<div class="clear"></div>
						
						<div style="width:300px;">
							<div class="left">				
						
												
								<div class="ui labeled icon button green mini">
									<i class="inverted thumbs up icon"></i>
									Approve
								</div>
								
								<div class="clear"></div>
								
								<div class="ui labeled icon button red mini">
									<i class="inverted thumbs down icon"></i>
									Unapproved
								</div>
							
							
							</div>
							<div class="right">
							
								<div class="ui labeled icon button blue mini">
									<i class="inverted save icon"></i>
									Set Main
								</div>
								
								<div class="clear"></div>
								<div class="right">
									<div class="ui labeled icon button red mini">
										<i class="inverted trash icon"></i>
										Remove
									</div>
								</div>
								
							</div>	
							
							<div class="clear"></div>
						</div>
						
						
					</div>
				</div>
			
			</div>
			
			
			
		</div>
										
	</div>
	
	
	
	
</div>










{% endblock%}