{% block sidebar %}
                    <div class="sidebar">	                
	                <div class="bg members">
	                    <h2 class="iMembers">New Members</h2>
	                    <div class="more_pics">
	                        <div class="portrait">               
	                        <div class="por_name">
	                        <a href="#">
	                        <span>Sendi</span>
	                        <span style="font-size:11px;">25, from Tel Aviv</span>
	                        </a>
	                        </div> 
	                            <img src="/assets/frontend/images/pics/thumb_1.jpg" height="144" width="112" />
	                        </div>
	
	                        <div class="portrait">               
	                        <div class="por_name">
	                        <a href="#">
	                        <span>Sendi</span>
	                        <span style="font-size:11px;">25, from Tel Aviv</span>
	                        </a>
	                        </div> 
	                        <img src="/assets/frontend/images/pics/thumb_1.jpg" height="144" width="112" />
	                        </div>
	
	                        <div class="portrait">               
	                        <div class="por_name">
	                        <a href="#">
	                        <span>Sendi</span>
	                        <span style="font-size:11px;">25, from Tel Aviv</span>
	                        </a>
	                        </div> 
	                        <img src="/assets/frontend/images/pics/thumb_1.jpg" height="144" width="112" />
	                        </div>
	                    </div>
                        </div>
	                <a href="#" class="sidebar-link">
	                    <img src="/assets/frontend/images/sidebar-link-google.png" height="78" width="235" />
	                </a>
	                <a href="#" class="sidebar-link">
	                    <img src="/assets/frontend/images/sidebar-link-apple.png" height="78" width="235" />
	                </a>
	            </div>
	            <div class="clear"></div>
{% endblock %}	            